<div class="page-content d-flex align-items-stretch">
  <!-- Side Navbar -->
  <nav class="side-navbar">
    <!-- Sidebar Header-->
    <div class="sidebar-header d-flex align-items-center">
      <div class="avatar"><img src="/assets/admin/img/ahmed.JPG" alt="..." class="img-fluid rounded-circle"></div>
      <div class="title">
        <h1 class="h4">Saidi Ahmed</h1>
        <p>Web Devolopper</p>
      </div>
    </div>
    <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
    <ul class="list-unstyled">
      <li class="active"><a routerLink="/admin/home"> <i class="icon-home"></i>Home </a></li>
      <li ><a routerLink="/admin/courses"> <i class="icon-grid"></i> Courses Management </a></li>
      <li ><a routerLink="/admin/add"> <i class="icon-padnote"></i>Add Course </a></li>
    </ul>
  </nav>
  <div class="content-inner">

      <!-- Page Header-->
      <header class="page-header">
        <div class="container-fluid">
          <h2 class="no-margin-bottom">Dashboard</h2>
        </div>
      </header>





    <section class="dashboard-counts no-padding-bottom">
      <div class="container-fluid">
        <div class="row bg-white has-shadow">
          <!-- Item -->
          <div class="col-xl-3 col-sm-6">
            <div class="item d-flex align-items-center">
              <div class="icon bg-violet"><i class="icon-user"></i></div>
              <div class="title"><span>New<br>Participants</span>
                <div class="progress">
                  <div role="progressbar" style="width: {{users.length}}%; height: 4px;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-violet"></div>
                </div>
              </div>
              <div class="number"><strong>{{users.length}}</strong></div>
            </div>
          </div>
          <!-- Item -->
          <div class="col-xl-3 col-sm-6">
            <div class="item d-flex align-items-center">
              <div class="icon bg-red"><i class="icon-padnote"></i></div>
              <div class="title"><span style>Participations</span>
                <div class="progress">
                  <div role="progressbar" style="width: {{participations.length}}%; height: 4px;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-red"></div>
                </div>
              </div>
              <div class="number"><strong>{{participations.length}}</strong></div>
            </div>
          </div>
          <!-- Item -->
          <div class="col-xl-3 col-sm-6">
            <div class="item d-flex align-items-center">
              <div class="icon bg-green"><i class="icon-bill"></i></div>
              <div class="title"><span>Courses</span>
                <div class="progress">
                  <div role="progressbar" style="width: {{courses.length}}%; height: 4px;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-green"></div>
                </div>
              </div>
              <div class="number"><strong>{{courses.length}}</strong></div>
            </div>
          </div>
          <!-- Item -->
          <div class="col-xl-3 col-sm-6">
            <div class="item d-flex align-items-center">
              <div class="icon bg-orange"><i class="icon-check"></i></div>
              <div class="title"><span>Available<br>Seats</span>
                <div class="progress">
                  <div role="progressbar" style="width: {{availableSeats}}%; height: 4px;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" class="progress-bar bg-orange"></div>
                </div>
              </div>
              <div class="number"><strong>{{availableSeats}}</strong></div>
            </div>
          </div>
        </div>
      </div>
    </section><br>


    <section class="feeds no-padding-top">
      <div class="container-fluid">
        <div class="row">
          <!-- Trending Articles-->
          <div class="col-lg-6">
            <div class="articles card">
              <div class="card-close">
                <div class="dropdown">
                  <button type="button" id="closeCard4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                  <div aria-labelledby="closeCard4" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                </div>
              </div>
              <div class="card-header d-flex align-items-center">
                <h2 class="h3">Users   </h2>
                <div class="badge badge-rounded bg-green">{{users.length}} Users </div>
              </div>
              <div class="card-body no-padding">
                <div  *ngFor="let u of users; let i=index ">
                  <div class="item d-flex align-items-center">
                    <div class="image"><img src="/assets/admin/img/{{u.img}}" alt="..." class="img-fluid rounded-circle"></div>
                    <div class="text"><a href="#">
                      <h3 class="h5">{{u.username}}</h3></a><small>{{u.email}}</small></div>
                    <button class="btn btn-danger btn-circle btn-sm" (click)="deleteUser(u)">Delete</button>
                  </div>

                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-4">
            <div class="client card">
              <div class="card-close">
                <div class="dropdown">
                  <button type="button" id="closeCard2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                  <div aria-labelledby="closeCard2" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                </div>
              </div>
              <div class="card-body text-center">
                <div class="client-avatar"><img src="/assets/admin/img/{{user.img}}" alt="..." class="img-fluid rounded-circle">
                  <div class="status bg-green"></div>
                </div>
                <br><br>
                <div class="client-title">
                  <h3>{{user.firstname}} {{user.lastname}}</h3><span>Web Developer</span><a href="#">Follow</a>
                </div>
                <div class="client-info">
                  <div class="row">
                    <div class="col-4"><strong>20</strong><br><small>Photos</small></div>
                    <div class="col-4"><strong>54</strong><br><small>Videos</small></div>
                    <div class="col-4"><strong>235</strong><br><small>Tasks</small></div>
                  </div>
                </div>
                <div class="client-social d-flex justify-content-between"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a><a href="#" target="_blank"><i class="fa fa-twitter"></i></a><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a><a href="#" target="_blank"><i class="fa fa-instagram"></i></a><a href="#" target="_blank"><i class="fa fa-linkedin"></i></a></div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </section>





    <!-- Page Footer-->
    <footer class="main-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <p>Your company &copy; 2020-2021</p>
          </div>
          <div class="col-sm-6 text-right">
            <p> By <a  class="external">Saidi Ahmed </a></p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
