<div class="page-content d-flex align-items-stretch">
  <!-- Side Navbar -->
  <nav class="side-navbar">
    <!-- Sidebar Header-->
    <div class="sidebar-header d-flex align-items-center">
      <div class="avatar"><img src="/assets/admin/img/ahmed.JPG" alt="..." class="img-fluid rounded-circle"></div>
      <div class="title">
        <h1 class="h4">Saidi Ahmed</h1>
        <p>Web Devolopper</p>
      </div>
    </div>
    <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
    <ul class="list-unstyled">
      <li class="active"><a routerLink="/admin/home"> <i class="icon-home"></i>Home </a></li>
      <li ><a routerLink="/admin/courses"> <i class="icon-grid"></i> Courses Management </a></li>
      <li ><a routerLink="/admin/add"> <i class="icon-padnote"></i>Add Course </a></li>
    </ul>
  </nav>
  <div class="content-inner">









    <!-- Page Footer-->
    <footer class="main-footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <p>Your company &copy; 2020-2021</p>
          </div>
          <div class="col-sm-6 text-right">
            <p> By <a  class="external">Saidi Ahmed </a></p>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
