
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <h1 class="logo mr-auto"><a href="index.html">Saidi-Learning</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li ><a routerLink="/elearning/home">Home</a></li>
        <li><a routerLink="/elearning/courses">Courses</a></li>

        <li><a routerLink="/elearning/contact">Contact</a></li>
               <li class="drop-down"><a href="">Profile ({{username}})</a>
          <ul>
            <li><a routerLink="/elearning/profile">My Profile</a></li>
            <li class="active"><a routerLink="/elearning/mycourses">My Courses</a></li>
          </ul>
        </li>
        <a routerLink="/elearning/courses" class="get-started-btn">Get Started</a>
      </ul>

    </nav><!-- .nav-menu -->

    <button  class="get-started-btn" (click)="logout()">Logout</button>

  </div>
</header>






<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="container">
      <h2>My Courses</h2>
    </div>
  </div><!-- End Breadcrumbs -->

  <!-- ======= Courses Section ======= -->
  <section id="courses" class="courses">
    <div class="container" >

      <div class="row" style="flex-wrap: wrap;display:flex;justify-content: space-around">
        <div  *ngFor="let c of coursesList; let i=index" class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <app-course [course]="c" (like)="LikeCourses($event)"></app-course>
        </div>
      </div>

    </div>
  </section>



</main>
