
<!-- ======= Cource Details Section ======= -->
<section id="course-details" class="course-details">
  <div class="container" >

    <div class="row">
      <div class="col-lg-8">
        <img src="/assets/elearning/img/{{course.image}}" class="img-fluid" alt="">
        <h3>{{course.courseName}}</h3>
        <p>
            {{course.description}}
        </p>
      </div>
      <div class="col-lg-4">

        <div class="course-info d-flex justify-content-between align-items-center">
          <h5>Categpry</h5>
          <p><a href="#">{{course.category}}</a></p>
        </div>

        <div class="course-info d-flex justify-content-between align-items-center">
          <h5>Course Fee</h5>
          <p>${{course.price}}</p>
        </div>

        <div class="course-info d-flex justify-content-between align-items-center">
          <h5>Available Seats</h5>
          <p>{{(course.seats)-(course.mumbParticipants)}}</p>
        </div>

        <div class="course-info d-flex justify-content-between align-items-center">
          <h5>Schedule</h5>
          <p>5.00 pm - 7.00 pm</p>
        </div>

      </div>
    </div>

  </div>
</section><!-- End Cource Details Section -->


