<!-- Page Header-->
<header class="page-header">
  <div class="container-fluid">
    <h2 class="no-margin-bottom">Update Course</h2>
  </div>
</header>
<!-- Breadcrumb-->
<div class="breadcrumb-holder container-fluid">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><a href="index.html">Admin</a></li>
    <li class="breadcrumb-item active">Update Course</li>
  </ul>
</div>
<!-- Forms Section-->
<section class="forms">
  <div class="container-fluid">
    <div class="row">


      <!-- Form Elements -->
      <div class="col-lg-12">
        <div class="card">
          <div class="card-close">
            <div class="dropdown">
              <button type="button" id="closeCard5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
              <div aria-labelledby="closeCard5" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
            </div>
          </div>
          <div class="card-header d-flex align-items-center">
            <h3 class="h4">All form elements</h3>
          </div>
          <div class="card-body">

            <form class="form-horizontal" [formGroup]="CourseForm">


              <div class="form-group row">
                <label class="col-sm-3 form-control-label">ID </label>
                <div class="col-sm-9">
                  <input type="number" formControlName="id"
                         [ngClass]="[CourseForm.get('id').touched  ? 'form-control' : '',CourseForm.get('id').errors?.required ? 'form-control' : 'form-control is-valid',((CourseForm.get('id').touched) && (CourseForm.get('id').errors?.required)) ? 'form-control is-invalid' : 'form-control']"
                         name="id" [(ngModel)]="course.id">
                  <div class="invalid-feedback" *ngIf="CourseForm.get('id').errors?.required && CourseForm.get('id').touched" >ID is required</div>
                </div>
              </div>


              <div class="line"></div>
              <div class="form-group row">
                <label class="col-sm-3 form-control-label">Course Name </label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="courseName" formControlName="courseName"
                         [ngClass]="[CourseForm.get('courseName').touched  ? 'form-control' : '',CourseForm.get('courseName').errors?.required ? 'form-control' : 'form-control is-valid',CourseForm.get('courseName').errors?.minlength ? 'form-control' : '',((CourseForm.get('courseName').errors?.minlength) || (CourseForm.get('courseName').touched) && (CourseForm.get('courseName').errors?.required)) ? 'form-control is-invalid' : 'form-control']"
                         [(ngModel)]="course.courseName">
                  <div class="invalid-feedback" *ngIf="CourseForm.get('courseName').touched && CourseForm.get('courseName').errors?.required" >Course Name is required</div>
                  <div class="invalid-feedback" *ngIf="CourseForm.get('courseName').errors?.minlength" >Mnimum 5 caracters</div>
                </div>
              </div>
              <div class="line"></div>


              <div class="form-group row">
                <label class="col-sm-3 form-control-label">Seats</label>
                <div class="col-sm-9">
                  <input type="number" class="form-control"  name="seats" formControlName="seats"
                         [ngClass]="[CourseForm.get('seats').touched  ? 'form-control' : '',CourseForm.get('seats').errors?.required ? 'form-control' : 'form-control is-valid',CourseForm.get('seats').errors?.pattern ? 'form-control' : '',((CourseForm.get('seats').errors?.pattern) || (CourseForm.get('seats').touched) && (CourseForm.get('seats').errors?.required)) ? 'form-control is-invalid' : 'form-control']"
                         [(ngModel)]="course.seats">
                  <div class="invalid-feedback" *ngIf="CourseForm.get('seats').touched && CourseForm.get('seats')?.errors?.required" >number of Seats is required</div>
                  <div class="invalid-feedback" *ngIf="CourseForm.get('seats').errors?.pattern" >the number of seats should be positive</div>
                </div>
              </div>

              <div class="line"></div>
              <div class="form-group">
                <label class="col-sm-3 form-control-label">Price</label>
                <div class="input-group">
                  <div class="input-group-prepend"><span class="input-group-text">$</span></div>
                  <input type="text" class="form-control" name="price" formControlName="price"
                         [ngClass]="[CourseForm.get('price').touched  ? 'form-control' : '',CourseForm.get('price').errors?.required ? 'form-control' : 'form-control is-valid',CourseForm.get('price').errors?.pattern ? 'form-control' : '',((CourseForm.get('price').errors?.pattern) || (CourseForm.get('price').touched) && (CourseForm.get('price').errors?.required)) ? 'form-control is-invalid' : 'form-control']"
                         [(ngModel)]="course.price">
                  <div class="invalid-feedback" *ngIf="CourseForm.get('price').touched && CourseForm.get('price').errors?.required" >Price is required</div>
                  <div class="invalid-feedback" *ngIf="CourseForm.get('price').errors?.pattern" >Price should be positive</div>
                </div>
              </div>
              <div class="line"></div>

              <div class="line"></div>
              <div class="form-group row">
                <label class="col-sm-3 form-control-label">Description </label>
                <div class="col-sm-9">
                  <textarea type="text" class="form-control" name="description" formControlName="description" rows="5"
                         [ngClass]="[CourseForm.get('description').touched  ? 'form-control' : '',CourseForm.get('description').errors?.required ? 'form-control' : 'form-control is-valid',CourseForm.get('description').errors?.minlength ? 'form-control' : '',((CourseForm.get('description').errors?.minlength) || (CourseForm.get('description').touched) && (CourseForm.get('description').errors?.required)) ? 'form-control is-invalid' : 'form-control']"
                            [(ngModel)]="course.description"></textarea>
                  <div class="invalid-feedback" *ngIf="CourseForm.get('description').touched && CourseForm.get('description').errors?.required" >Course Name is required</div>
                  <div class="invalid-feedback" *ngIf="CourseForm.get('description').errors?.minlength" >Mnimum 20 caracters</div>
                </div>
              </div>
              <div class="line"></div>

              <div class="line"></div>
              <div class="form-group row">
                <label class="col-sm-3 form-control-label">Category</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" name="category" formControlName="category"
                         [ngClass]="[CourseForm.get('category').touched  ? 'form-control' : '',CourseForm.get('category').errors?.required ? 'form-control' : 'form-control is-valid',((CourseForm.get('category').touched) && (CourseForm.get('category').errors?.required)) ? 'form-control is-invalid' : 'form-control']"
                         [(ngModel)]="course.category">
                  <div class="invalid-feedback" *ngIf="CourseForm.get('category').touched && CourseForm.get('category').errors?.required" >Category is required</div>

                </div>
              </div>

              <div class="line"></div>
              <div class="form-group row">
                <label for="fileInput" class="col-sm-3 form-control-label">Course Image</label>
                <img src="/assets/elearning/img/{{course.image}}" class="img-fluid" alt="..."><br>
                <div class="col-sm-9">
                  <h5>Replace Image ?</h5>
                  <input id="fileInput" type="file" class="form-control-file" name="image" formControlName="image"
                         [ngClass]="[CourseForm.get('image').touched  ? 'form-control' : '',CourseForm.get('image').errors?.required ? 'form-control' : 'form-control is-valid',((CourseForm.get('image').touched) && (CourseForm.get('image').errors?.required)) ? 'form-control is-invalid' : 'form-control']"
                           id="image"  (change)="handleFileInput($event.target.files)">
                  <div class="invalid-feedback" *ngIf="CourseForm.get('image').touched && CourseForm.get('image')?.errors?.required" >Image is required</div>

                </div>
              </div>

              <div class="line"></div>
              <div class="form-group row">
                <div class="col-sm-4 offset-sm-3">
                  <button type="submit" class="btn btn-secondary">Cancel</button>
                  <button type="submit" class="btn btn-primary" [disabled]="CourseForm.invalid" (click)="updateProduct()">Update Course</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
