
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <h1 class="logo mr-auto"><a href="index.html">Saidi-Learning</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav class="nav-menu d-none d-lg-block">
      <ul>
        <li class="active"><a routerLink="/elearning/home">Home</a></li>
        <li><a routerLink="/elearning/courses">Courses</a></li>

        <li><a routerLink="/elearning/contact">Contact</a></li>
        <li class="drop-down"><a href="">Profile ({{username}})</a>
          <ul>
            <li><a routerLink="/elearning/profile">My Profile</a></li>
            <li><a routerLink="/elearning/mycourses">My Courses</a></li>
          </ul>
        </li>
        <a routerLink="/elearning/courses" class="get-started-btn">Get Started</a>
      </ul>

    </nav><!-- .nav-menu -->

    <button  class="get-started-btn" (click)="logout()">Logout</button>

  </div>
</header>

<section id="hero" class="d-flex justify-content-center align-items-center">
  <div class="container position-relative" >
    <h1> Welcome {{username}} <br>
      Learning Today,<br>Leading Tomorrow</h1>
    <h2>We have many courses for you </h2>
    <a routerLink="/elearning/courses" class="btn-get-started">Get Started</a>
  </div>
</section>
<main id="main">

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" >

      <div class="section-title">
        <h2>About</h2>
        <p>About Us</p>
      </div>

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" >
          <img src="assets/img/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>WHAT IS E-LEARNING?</h3>
          <p class="font-italic">
            E-Learning is the process of using technology to assist learning and tutoring. Enhancement in how the Internet works has allowed websites to deliver a visual and immersive learning experience on a computer or mobile device, perfect for stimulating a student and encouraging learning.

            At Dotsquares, we follow a modular approach to our E-Learning developments. Building out the core administration and delivery systems before moving on to complete individual learning modules, each with their own specific goals and objectives.
          </p>
          <ul>
            <li><i class="icofont-check-circled"></i> e-learning provides a single source of learning materials ensuring that the content delivered is identical for all learners and is of the highest possible quality.</li>
            <li><i class="icofont-check-circled"></i> e-learning is reliable, dependable and accessible around the clock via an internet connection.</li>
            <li><i class="icofont-check-circled"></i> e-learning is easy to manage and control online via our Learner Management System (LMS).</li>
          </ul>
          <a href="about.html" class="learn-more-btn">Learn More</a>
        </div>
      </div>

    </div>
  </section>
</main>
